section {
	padding-bottom: 20px;
}

section > h2 {
	margin-bottom: 0px;
}

section > hr {
	margin-top: 0px;
	border-top: 2px solid #aaa;
}

footer {
	padding-top: 60px;
}

footer > p {
	padding: 15px;
	background-color: #eeeeee;
}

#about-page .row {
	padding-bottom: 50px;
}

#about-page #bio {
	font-size: large;
}

#about-page .list-group-item:hover {
	background-color: #BCF3EE;
}