/* CSS for website */
code {
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.panel-title {
	color: #ffffff !important;
}
.panel-body {
	padding-bottom: 1px;
}

@media print
{
	.book-summary, nav {
		display: none !important;
	}
	.book-body {
		left: 0px !important;
	}
}